$white: #FFFFFF;

$black: #000000;

$black-5: #F3F4F6;
$black-10: #E8E8E8;
$black-20 : #E5E5E5;
$black-40: #CACCCF;
$black-60: #A0A4A8;
$black-70: #909497;
$black-80: #52575C;
$black-100: #25282B;

$blue: #388BF2;

$orange: #FC8338;

$primary-100: #75BD7A;
$primary-300: #53AD59;
$primary-700: #4B9C50;
